@use "variables";
@use "spinner";

html, body {
    height: 100%;
    background-color: variables.$background-color;
}

.hidden {
    display: none !important;
}

.page-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}